<div class="container garment-form">
  <%= form_for([:seller, @garment], url: seller_garment_path(slug: current_user.slug, id: @garment.id), method: :put) do |f| %>

    <div class="form-group">
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description, "Description" %>
      <%= f.text_field :description, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= f.label :price, "Price" %>
      <%= f.text_field :price, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= f.label :image_path, "Image" %>
      <%= f.text_field :image_path, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= "Status:" %>
      <%= select("garment", "retired", options_for_select([ ["active", 0], ["retired", 1]], 2), {include_blank: false}) %>
    </div>
    <%= f.submit "Edit", class: "btn btn-danger" %>
  <% end %>
</div>
