<div id="seller-profile" class="pull-left inline">
  <%= image_tag @garments.first.seller.image_path %>
  <figcaption class="caption">
    <h3>
      <%= @garments.first.seller.store_name %>
    </h3>
    <p><%= @garments.first.seller.description %></p>
    &nbsp;
    &nbsp;
    <p>Garment delivery time depends on which product is chosen.</p>
    &nbsp;
    &nbsp;
    <p>All garments guaranteed to be made of all natural components.</p>
  </figcaption>
</div>

<div class="masonry-container">
  <div id="store-nav">
    <h3 class="inline">Garment Type</h3>
    <p class="glyphicon glyphicon-triangle-bottom"></p>
    &nbsp;
    &nbsp;
    <h3 class="inline">Price</h3>
    <p class="glyphicon glyphicon-triangle-bottom"></p>
    &nbsp;
    &nbsp;
    <h3 class="inline">Material Type</h3>
    <p class="glyphicon glyphicon-triangle-bottom"></p>
    &nbsp;
    &nbsp;
  </div>
  <% @garments.each do |garment| %>
    <% cache(garment) do %>
      <div class="item">
        <%= link_to image_tag(garment.image_path), seller_garment_path(id: garment.id) %>
        <figcaption>
          <%= link_to garment.name, seller_garment_path(id: garment.id) %>
        </figcaption>
      </div>
    <% end %>
  <% end %>
</div>
