<h3>Login</h3>
<%= form_for(:session, url: login_path) do |f| %>
  <%= f.text_field :username, class: "form-control" %>
  <%= f.password_field :password, class: "form-control" %>
  <%= f.submit "log in", class: "btn btn-success"%>
<% end %>
<h3>
  <%= link_to "Sign up", new_user_path  %>
  for an account
</h3>
