<%= render "layouts/carousel" %>

<div id="breed-single" class="align-text-center">

  <h1> <%= @breed.name.capitalize %> </h1>

  <h2> <%= @breed.description.capitalize %> </h2>

  <h3> <%= @breed.availability %> </h3>

  <div class="masonry-container center-block" id="garment-container">
    <% @cats.each do |cat| %>
      <div class="item">
        <%= link_to image_tag(cat.image_path), seller_cat_path(id: cat.id, slug: cat.slug) %>
        <figcaption>
        <%= link_to cat.name, seller_cat_path(id: cat.id, slug: cat.slug) %>
        </figcaption>
      </div>
    <% end %>
  </div>
</div>
