<%= form_for(:session, url: login_path) do |f| %>
  <%= f.text_field :username, placeholder: "username" %>
  <%= f.password_field :password, placeholder: "password" %>
  <h3>
    <%= link_to "Sign up", new_user_path  %>
    for an account
  </h3>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">cancel</button>
    <%= f.submit "log in", class: "btn btn-success"%>
  <% end %>
</div>
