<!DOCTYPE html>
<html>
  <head>
    <title>Hand Me Ups</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to image_tag("handmeup.png"), root_path, class: "navbar-brand" %>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "home", root_path %></li>
            <li><%= link_to "stores", stores_path %></li>
            <li><%= link_to "cart", cart_path %></li>
            <li><%= link_to "breeds", breeds_path %></li>
            <li><%= link_to "orders", orders_path %></li>
            <% if current_user && current_user.admin? %>
              <%= render "layouts/admin_nav" %>
            <% end %>
            <% if !current_user %>
              <li><%= link_to "sign up", new_user_path %></li>
              <li>
              <a href="#" data-toggle="modal" data-target="#loginModal">
                login
              </a>
              </li>
            <% else %>
              <li> <%= link_to "logout", logout_path %></li>
            <% end %>

            <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">SERVICES<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="construction.html">Construction</a></li>
              <li><a href="water.html">Water</a></li>
              <li><a href="mold.html">Mold</a></li>
              <li><a href="fire.html">Fire</a></li>
              <li><a href="smoke.html">Smoke</a></li>
              <li><a href="biohazardous.html">Bio and Hazardous Material</a></li>
              <li><a href="roofing.html">Roofing</a></li>
              <li><a href="consulting.html">Consulting</a></li>
              <li><a href="contents.html">Contents</a></li>
              cum;
            </ul>
            </li> -->
          </ul>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8"></div>
      <div id="main-container" class="container">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash-#{name}", :class => "alert alert-danger" %>
        <% end %>
        <% if flash.count > 1 %>
              <a href="#" data-toggle="modal" data-target="#loginModal">
                <%= link_to "Try signing in again!", "#",  class: "alert-link alert alert-success", "data-toggle"=>"modal", "data-target"=>"#loginModal" %>
        <% end %>
        <div class='yield-style'>
          <%= yield %>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Please log in.</h4>
            </div>
            <div class="modal-body">
              <%= render "partials/login_form" %>
            </div>
          </div>
        </body>
      </html>
